<table>
  <thead>
    <tr>
      <% model_attribute_names.each do |attr_name| %>
        <th>
          <%= attr_name %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% model_collection.each do |item| %>
      <tr>
        <% model_attribute_names.each do |attr_name| %>
          <td>
            <%= item.public_send(attr_name) %>
          </td>
        <% end %>
      <tr>
    <% end %>
  </tbody>
</table>
